<div class="table-container">
  <h1>Edit Transaction</h1>
    <%= render 'form', transaction: @transaction %>
  <td class="action-buttons">
    <%= link_to 'Show', @transaction, class: 'btn btn-info' %> |
    <%= link_to 'Back', transactions_path, class: 'btn btn-secondary' %>
  </td>
</div>